/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {}

body {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #535353;
}

.p__title {
    font-weight: bold;
    font-size: 12px;
    color: #ef9982;
}

.h2__1 {
    font-size: 34px;
    font-weight: 600;
    letter-spacing: -0.03em;
}

/* HEADER */

header {
    padding: 60px 0;
    top: 0;
    left: 0;
    right: 0;
    /* background-color: aquamarine; */
    position: fixed;
    z-index: 1;
}

header .header__content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

header .logo {
    position: relative;
}

/* LOGO */
header .logo img {
    width: 70px;
}

header .logo .logo_black {
    transition: all .5s;
    transition-delay: .6s;
}

header .logo .logo_white {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;

    transition: all .5s;
    transition-delay: .5s;

    opacity: 0;
    visibility: hidden;
}

.header.logo__show .logo_black {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s;
}

.header.logo__show .logo_white {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

header .header__left {
    display: flex;
    gap: 116px;
    align-items: center;
}

header .header__nav {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

header .header__right {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}

header .eng .eng__control {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

header .eng__control i {
    font-size: 10px;
}

header .eng ul {
    position: absolute;
    z-index: 3;
    top: 90%;
    left: 0;
    list-style: none;
    padding-top: 20px;
    width: 100%;

    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

header .eng:hover {
    color: #ee9982;
}

header .eng:hover ul {
    opacity: 1;
    visibility: visible;
}

header .eng ul li {
    padding: 10px 0;
    background-color: black;
    text-align: center;
}

header .eng ul li:first-child {
    padding-top: 30px;
}

header .eng ul li:last-child {
    padding-bottom: 30px;
}

header .eng a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
}

header .wave {
    display: flex;
    align-items: flex-end;
    gap: 2px;
    height: 10px;
}

header .wave span {
    width: 2px;
    background-color: black;
}

header .wave span:nth-of-type(1) {
    animation: music-bar 1.5s linear 0.2s alternate infinite;
}

header .wave span:nth-of-type(2) {
    animation: music-bar 1.5s linear 0.1s alternate infinite;

}

header .wave span:nth-of-type(3) {
    animation: music-bar 1.5s linear 0.3s alternate infinite;

}

header .wave span:nth-of-type(4) {
    animation: music-bar 1.5s linear 0s alternate infinite;

}

/* HEADER TOPUP */


.header__navTopup {
    z-index: 1;
    position: fixed;
    background-color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    transition: all .5s;
    transition-delay: 0.5s;
}

.header__navTopup .navTopup__container {
    height: 100%;
    padding: 0 50px 0 200px;
    padding: 60px 100px 0px 22%
}

.header__navTopup .navTopup__container hr {
    border: none;
    background-color: #535353;
    height: 0.5px;
    margin: 55px 0;

    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.header__navTopup .navTopup__control {
    display: flex;
    align-items: center;
    gap: 26px;
    padding-bottom: 100px;
    width: 90px;
    cursor: pointer;

    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.header__navTopup .navTopup__control p {
    color: white;
}

.header__navTopup .navTopup__content ul {
    list-style: none;
}

.header__navTopup .navTopup__content li {
    margin-bottom: 22px;

    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.header__navTopup .navTopup__content a {
    text-decoration: none;
    color: #535353;
    font-size: 26px;
}

.header.logo__hide .header__navTopup {
    visibility: hidden;
}

.header.logo__show .header__navTopup {
    visibility: visible;
    height: 650px;
    transition-delay: 0s;
}

.header.logo__show .navTopup__control {
    opacity: 1;
    visibility: visible;
}

.header.logo__show .navTopup__content li:nth-of-type(1) {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.header.logo__show .navTopup__content li:nth-of-type(2) {
    opacity: 1;
    visibility: visible;
    transition-delay: .1s;
}

.header.logo__show .navTopup__content li:nth-of-type(3) {
    opacity: 1;
    visibility: visible;
    transition-delay: .2s;
}

.header.logo__show .navTopup__content li:nth-of-type(4) {
    opacity: 1;
    visibility: visible;
    transition-delay: .3s;
}

.header.logo__show .navTopup__content li:nth-of-type(5) {
    opacity: 1;
    visibility: visible;
    transition-delay: .4s;
}

.header.logo__show .navTopup__content li:nth-of-type(6) {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}


.header__navTopup .navTopup__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navTopup .navTopup__footer .navTopup__info {
    display: flex;
    gap: 20px;
}

.header__navTopup .navTopup__info p {
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.header__navTopup .navTopup__social i {
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.header.logo__show hr {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.header.logo__show .navTopup__info p:nth-of-type(1) {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.header.logo__show .navTopup__info p:nth-of-type(2) {
    opacity: 1;
    visibility: visible;
    transition-delay: .7s;
}

.header.logo__show .navTopup__social i:nth-of-type(1) {
    opacity: 1;
    visibility: visible;
    transition-delay: .8s;
}

.header.logo__show .navTopup__social i:nth-of-type(2) {
    opacity: 1;
    visibility: visible;
    transition-delay: .9s;
}

.header.logo__show .navTopup__social i:nth-of-type(3) {
    opacity: 1;
    visibility: visible;
    transition-delay: 1s;
}

.header.logo__show .navTopup__social i:nth-of-type(4) {
    opacity: 1;
    visibility: visible;
    transition-delay: 1.1s;
}

/* BANNER */
.banner {
    background-image: url(../img/circle.png);
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner .banner__container {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 142px 0 200px;
}

.banner .banner__info {
    width: 25%;
    padding: 82px 0 0 0;
}

.banner .banner__info h1 {
    letter-spacing: -0.03em;
    font-size: 75px;
    line-height: 1;
    color: #343434;
    margin-bottom: 70px;
}

.banner .banner__info p {
    margin-bottom: 50px;
}

.banner .banner__info a {
    text-decoration: none;
    color: #535353;
    font-weight: 600;
    font-size: 14px;
}

.banner .banner__img {
    position: relative;
}

.banner .banner__img img:nth-of-type(1) {
    position: absolute;
    width: 358px;
    height: 546px;

    top: 0;
    left: 280px;
}

.banner .banner__img img:nth-of-type(2) {
    position: absolute;
    width: 334px;
    height: 487px;

    top: 120px;
    left: 630px;
}

/* PRODUCT */
.product {
    margin-top: 50px;
}

.product hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 0.1rem solid #ededed;
    margin: 1em 0;
    padding: 0;
}

.product .product__container {
    width: 80%;
    margin: auto;
}



/* .product .product__container p:nth-of-type(1) {
    font-weight: bold;
    font-size: 12px;
    color: #ef9982;
} */

.product .product__container p,
.product .product__container h2 {
    padding: 0 0 80px;
    width: 50%;
}

.product .product__container p:nth-of-type(2) {
    padding: 80px 0;
    text-align: center;
    margin: auto;
}
.product .product__container p:nth-of-type(2) a {
    text-decoration: none;
    color: #535353;
    transition: all .5s;
}
.product .product__container p:nth-of-type(2) a:hover {
    color: #c84a24;
    
}

.product h2 span {
    color: #ef9982;
}

.product .product__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 50px;
}
.product .product__content .product__item {
    position: relative;
}


.product .product__info {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: white;
}
.product .product__info h3 {
    font-weight: lighter;
    font-size: 16px;
}
.product .product__info h4 {
    font-size: 30px;
}

.product .product__item {
    transition: all .2s;
}
.product .product__item img {
    width: 100%;
    height: 100%;
}
.product .product__item:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.product .product__item:hover.product__item:nth-of-type(1)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: linear-gradient(to top right, #24c1c8, #0737e6);
}
.product .product__item:hover.product__item:nth-of-type(2)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: linear-gradient(to top right, #c824c0, #e60707);
}
.product .product__item:hover.product__item:nth-of-type(3)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: linear-gradient(to top right, #c84a24, #e67e07);
}
.product .product__item:hover.product__item:nth-of-type(4)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: linear-gradient(to top right, #363552, #0c026b);
}
.product .product__item:hover.product__item:nth-of-type(5)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: linear-gradient(to top right, #09182c, #58cdfc);
}
.product .product__item:hover.product__item:nth-of-type(6)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: linear-gradient(to top right, #723dc7, #120055);
}

/* SERVICE */
.service {
    overflow: hidden;
}
.service .service__container {
    width: 80%;
    margin: auto;
}
.service .service__container > p {
    padding: 80px 0;
}
.service .service__container h2 {
    width: 50%;
    margin-bottom: 80px;
}
.service .service__container h2 span {
    color: #ef9982;
}

.service .service__content {
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.service .service__item {
    position: relative;
    width: 355px;
    height: 50vh;
    cursor: pointer;
    margin-right: 3px;
    transition: all 0.2s;
}
.service .service__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service .service__item div {
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
}
.service .service__item div h3 {
    font-size: 28px;
}
.service .service__item div p {
    font-size: 12px;
    font-weight: 600;
}
.service .service__item button{
    position: absolute;
    bottom: 50px;
    left: 50px;
    border: 1px solid white;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.2s;
    cursor: pointer;
}
.service .service__item button i {
    color: white;
    font-size: 20px;
}
.service .service__item:hover {
    opacity: 0.8;
}

.service .service__item:nth-of-type(1):hover:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top right, #24c1c8, #0737e6);
    opacity: 0.9;
} 
.service .service__item:nth-of-type(2):hover:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top right, #243dc8, #ab07e6);
    opacity: 0.9;
} 
.service .service__item:nth-of-type(3):hover:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top right, #6324c8, #ae07e6);
    opacity: 0.9;
} 
.service .service__item:nth-of-type(4):hover:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top right, #c82494, #e6073b);
    opacity: 0.9;
}
.service .service__item:nth-of-type(5):hover:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top right, #c82424, #e6b607);
    opacity: 0.9;
} 
.service .service__item:nth-of-type(6):hover:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top right, #50c824, #07e689);
    opacity: 0.9;
} 
.service .service__item:nth-of-type(7):hover:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top right, #24c89f, #071de6);
    opacity: 0.9;
} 

.service .service__item button i:nth-of-type(1){
    transition: all .5s;
    transition-delay: .15s;
}
.service .service__item button i:nth-of-type(2) {
    position: absolute;
    right: 100%;
    transform: translateX(100%);
    color: black;
    
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    transition-delay: 0s;
}
.service .service__item:hover button i:nth-of-type(2) {
    right: 50%;
    transform: translateX(50%);
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
.service .service__item:hover button i:nth-of-type(1) {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s;
}
.service .service__item:hover button {
    background-color: white;
}

.service__content ul {
    margin: 20px 0;
}
.service__content .slick-dots li button{
    margin: 0;
    width: 11px;
    height: 11px;
}
.service__content .slick-dots li button:before {
    font-size: 20px;
}

/* INTRODUCE */
.introduce .introduce__content {
    width: 80%;
    margin: auto;
}
.introduce .introduce__content p:nth-of-type(1) {
    color: #343434;
    padding-top: 80px;
}
.introduce .introduce__content h2 {
    padding: 50px 0;
    width: 50%;
}
.introduce .introduce__content p:nth-of-type(2) {
    width: 50%;
    font-size: 18px;
    word-spacing: 0.001em;
    line-height: 1.6;
    padding-bottom: 50px;
}
.introduce .introduce__content h2 span{
    color: #ef9982;
}
.introduce .introduce__content button {
    background-color: white;
    border: none;
    margin-bottom: 80px;
    position: relative;
}
.introduce .introduce__content button a {
    text-decoration: none;
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    margin-right: 16px;
    transition: all .2s;
}
.introduce .introduce__content button i,
.team button i {
    transition: all 0.2s;
    transform: translateX(-8px);
}
.introduce .introduce__content button:hover i,
.team button a:hover + i {
    color: #ef9982;
    transform: translateX(0);    
}

.introduce .introduce__content button:hover a,
.team button a:hover
{
    color: #ef9982;
}

.introduce .introduce__img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2px;
    margin: 150px 0;
}
.introduce .introduce__img img {
    width: 100%;
    height: 100%;
}
.introduce .introduce__img .introduce_item1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    
}

/* TEAM */
.team {
    width: 80%;
    margin: auto;
    margin-bottom: 150px;
}
.team h2 {
    color: #343434;
}

.team .team__content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    margin: 50px 0 70px;
}



.team .team__content .team__top {
    position: relative;
    cursor: pointer;
}

.team .team__item img{
    width: 100%;
}

.team .team__item .item_info {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.team .item_info .item__social {
    /* position: absolute; */
    bottom: 0;
    left: 0;
}

.team .team__item .team_name {
    margin-top: 30px;
}

.team .team__item .team_name p{
    margin-top: 5px;
    font-size: 14px;
    color: #090909;
    opacity: 0.4;
}

.team div {
    text-align: center;
}

.team div button {
    position: relative;
    background-color: #027ab600;
    border: none;
}

.team div button a{
    text-decoration: none;
    color: #535353;
    font-size: 20px;
    margin-right: 20px;
}

.team .item_info .item__social i {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;

    border-radius: 50%;
    font-size: 12px;
}

.team .item_info .item__social i:nth-of-type(1){
    background-color: #3c5997;
}
.team .item_info .item__social i:nth-of-type(2){
    background-color: #05aced;
}
.team .item_info .item__social i:nth-of-type(3){
    background-color: #027bb6;
}

.team .team__item:hover .item_info{
    opacity: 1;
    visibility: visible;
}

.team .team__item:hover .team__top::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #eff6f9;
}

.team .team__item:hover img {
    opacity: 0.2;
}





@keyframes nav {
    0% {
        height: 0;
    }

    100% {
        height: 90vh;
    }
}

@keyframes grow {
    0% {}

    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(2);
    }
}

@keyframes music-bar {
    0% {
        height: 6px;
    }

    10% {
        height: 10px;
    }

    20% {
        height: 6px;
    }

    30% {
        height: 14px;
    }

    40% {
        height: 18px;
    }

    50% {
        height: 6px;
    }

    60% {
        height: 16px;
    }

    70% {
        height: 10px;
    }

    80% {
        height: 12px;
    }

    90% {
        height: 4px;
    }

    100% {
        height: 18px;
    }
}