/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #535353;
}

/* HEADER */

header {
    padding: 60px 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: aquamarine;
    position: fixed;
}

header .header__content {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


@keyframes nav {
    0% {
        height: 0;
    }

    100% {
        height: 90vh;
    }
}

@keyframes grow {
    0% {}

    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(2);
    }
}

@keyframes music-bar {
    0% {
        height: 6px;
    }    
    10% {
        height: 10px;
    }
    20% {
        height: 6px;
    }
    30% {
        height: 14px;
    }
    40% {
        height: 18px;
    }
    50% {
        height: 6px;
    }
    60% {
        height: 16px;
    }
    70% {
        height: 10px;
    }
    80% {
        height: 12px;
    }
    90% {
        height: 4px;
    }
    100% {
        height: 18px;
    }
}