/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #535353;
}

/* HEADER */

header {
    padding: 60px 0;
    top: 0;
    left: 0;
    right: 0;
    /* background-color: aquamarine; */
    position: fixed;
    z-index: 1;
}
header .header__content {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
header .logo {
    position: relative;
}

/* LOGO */
header .logo img {
    width: 70px;
}
header .logo .logo_black {
    transition: all .5s;
    transition-delay: .6s;
}
header .logo .logo_white {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;

    transition: all .5s;
    transition-delay: .5s;

    opacity: 0;
    visibility: hidden;
}
.header.logo__show .logo_black {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s;
}
.header.logo__show .logo_white {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
header .header__left {
    display: flex;
    gap: 116px;
    align-items: center;
}
header .header__nav {
    display: flex;
    gap: 20px;
    cursor: pointer;
}
header .header__right {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}

header .eng .eng__control{
    display: flex;
    align-items: center;
    gap: 10px;     
    cursor: pointer;
}
header .eng__control i {
    font-size: 10px;   
}
header .eng ul {
    position: absolute;
    z-index: 3;
    top: 90%;
    left: 0;   
    list-style: none;
    padding-top: 20px;
    width: 100%;

    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}
header .eng:hover{
    color: #ee9982;
}
header .eng:hover ul {
    opacity: 1;
    visibility: visible;
}
header .eng ul li {
    padding: 10px 0;
    background-color: black;
    text-align: center;
}
header .eng ul li:first-child {
    padding-top: 30px;
}
header .eng ul li:last-child {
    padding-bottom: 30px;
}
header .eng  a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
}

header .wave {
    display: flex;
    align-items: flex-end;
    gap: 2px;
    height: 10px;
}
header .wave span {
    width: 2px;
    background-color: black;
}

header .wave span:nth-of-type(1) {
    animation: music-bar 1.5s linear 0.2s alternate infinite;
}
header .wave span:nth-of-type(2) {
    animation: music-bar 1.5s linear 0.1s alternate infinite;

}
header .wave span:nth-of-type(3) {
    animation: music-bar 1.5s linear 0.3s alternate infinite;

}
header .wave span:nth-of-type(4) {
    animation: music-bar 1.5s linear 0s alternate infinite;

}

/* HEADER TOPUP */


.header__navTopup {
    z-index: 1;
    position: fixed;
    background-color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    right: 0;
    height: 0;   
    transition: all .5s;
    transition-delay: 0.5s;
}

.header__navTopup .navTopup__container {
    height: 100%;
    padding: 0 50px 0 200px;
    padding: 60px 100px 0px 470px;
}
.header__navTopup .navTopup__container hr {
    border: none;
    background-color: #535353;
    height: 0.5px;
    margin: 55px 0;

    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.header__navTopup .navTopup__control {
    display: flex;
    align-items: center;
    gap: 26px;
    padding-bottom: 100px;
    width: 90px;
    cursor: pointer;

    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}
.header__navTopup .navTopup__control p {
    color: white;
}
.header__navTopup .navTopup__content ul {
    list-style: none;
}
.header__navTopup .navTopup__content li {
    margin-bottom: 22px;   

    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}
.header__navTopup .navTopup__content a {
    text-decoration: none;
    color: #535353;
    font-size: 26px;
}

.header.logo__show .header__navTopup{
    height: 650px;
    transition-delay: 0s;
}
.header.logo__show .navTopup__control {
    opacity: 1;
    visibility: visible;
}
.header.logo__show .navTopup__content li:nth-of-type(1) {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
.header.logo__show .navTopup__content li:nth-of-type(2) {
    opacity: 1;
    visibility: visible;
    transition-delay: .1s;
}
.header.logo__show .navTopup__content li:nth-of-type(3) {
    opacity: 1;
    visibility: visible;
    transition-delay: .2s;
}
.header.logo__show .navTopup__content li:nth-of-type(4) {
    opacity: 1;
    visibility: visible;
    transition-delay: .3s;
}
.header.logo__show .navTopup__content li:nth-of-type(5) {
    opacity: 1;
    visibility: visible;
    transition-delay: .4s;
}
.header.logo__show .navTopup__content li:nth-of-type(6) {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}


.header__navTopup .navTopup__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navTopup .navTopup__footer .navTopup__info {
    display: flex;
    gap: 20px;
}
.header__navTopup .navTopup__info p {
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}
.header__navTopup .navTopup__social i {
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.header.logo__show hr {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}
.header.logo__show .navTopup__info p:nth-of-type(1) {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}
.header.logo__show .navTopup__info p:nth-of-type(2) {
    opacity: 1;
    visibility: visible;
    transition-delay: .7s;
}
.header.logo__show .navTopup__social i:nth-of-type(1) {
    opacity: 1;
    visibility: visible;
    transition-delay: .8s;
}
.header.logo__show .navTopup__social i:nth-of-type(2) {
    opacity: 1;
    visibility: visible;
    transition-delay: .9s;
}
.header.logo__show .navTopup__social i:nth-of-type(3) {
    opacity: 1;
    visibility: visible;
    transition-delay: 1s;
}
.header.logo__show .navTopup__social i:nth-of-type(4) {
    opacity: 1;
    visibility: visible;
    transition-delay: 1.1s;
}

/* BANNER */
.banner {
    background-image: url(../img/circle.png);
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 140px 166px 260px 280px;
}

.banner .banner__info {
    width: 25%;
    padding: 82px 0 0 0;
}

.banner .banner__info h1 {
    letter-spacing: -0.03em;
    font-size: 75px;
    line-height: 1;
    color: #343434;
    margin-bottom: 70px;
}

.banner .banner__info p {
    margin-bottom: 50px;
}

.banner .banner__img {
    position: relative;
}
.banner .banner__img img:nth-of-type(1) {
    position: absolute;
    width: 358px;
    height: 546px;

    top: 0;
    right: 480px;
}
.banner .banner__img img:nth-of-type(2) {
    position: absolute;
    width: 334px;
    height: 487px;

    top: 140px;
    right: 150px;
}


@keyframes nav {
    0% {
        height: 0;
    }

    100% {
        height: 90vh;
    }
}

@keyframes grow {
    0% {}

    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(2);
    }
}

@keyframes music-bar {
    0% {
        height: 6px;
    }    
    10% {
        height: 10px;
    }
    20% {
        height: 6px;
    }
    30% {
        height: 14px;
    }
    40% {
        height: 18px;
    }
    50% {
        height: 6px;
    }
    60% {
        height: 16px;
    }
    70% {
        height: 10px;
    }
    80% {
        height: 12px;
    }
    90% {
        height: 4px;
    }
    100% {
        height: 18px;
    }
}